body {
  text-align: center;
  background-color: lightgrey;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  background-image: linear-gradient(to bottom, grey, #F4F4F4);
}

.header {
  text-align: center;
  background: #333;
  color: #fff;
  width: 100%;
}

.header h2 {
  border-left: dotted 1px;
  border-right: dotted 1px;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* BUlk div that holds the majority of the body */
.container {
  max-width: 900px;
  display: block;
  margin: auto;
  background-color: darkgrey;
  box-shadow: 20px 20px 20px grey;
}
/* showing a group of products and the style of them */
.pic_group_1 {
  background-size: 100% 100%;
  object-fit: cover;
  width: 100%;
  height: 50vh;
  opacity: 1;
}

.pic_group_1:hover {
  transition: all 650ms;
  opacity: 0.5;
  border-radius: 40px;
  transform: translateY(-8px);
}
/* This  will probably be changed later */
@media only screen and (max-width: 1000px) {
  .container {
    background-color: #5D8AA8;
  }
}
/* these  are the 3 interactive links */
.press {
  width: 15.5%;
  height: auto;
  box-shadow: 20px 20px 20px grey;
}

.press:hover {
  transition: 650ms;
  transition: width 2s, opacity .5;
  opacity: 0.5;
  border-radius: 40px;
  transform: translateY(-10px);
  width: 18%;
}

.tea {
  width: 15.5%;
  height: auto;
  box-shadow: 20px 20px 20px grey;
}

.tea:hover {
  transition: 650ms ease-in-out;
  transition: width 2s, opacity .5;
  opacity: 0.5;
  border-radius: 40px;
  transform: translateY(-10px);
  width: 18%;
}

.mug {
  width: 15.5%;
  height: auto;
  box-shadow: 20px 20px 20px grey;
}

.mug:hover {
  transition: 650ms ease-out;
  opacity: 0.5;
  transition: width 2s, opacity .5;
  border-radius: 40px;
  transform: translateY(-10px);
  width: 18%;
}

footer {
  margin: 9rem;
}
